body {
    padding: 10px;
}

.hidden {
    visibility: hidden;
}

li {
    padding: 5px;
    max-width: 250px;
}

li.selected {
    background: #e2e2e2;
}

.btn {
    border: 1px solid gray;
    max-width: 100px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

li.btn {
    list-style-type: none;
}

.toast {
    position: absolute;
    right: 15px;
    top: 15px;
}

#current-report {
    height: 600px;
}
