<div class="row">
    <div class="col">
        <!-- <div class="btn btn-secondary float-right" id="build-url">Build URL</div> -->
        <div class="btn btn-secondary float-right new-log">Clear</div>
        <div class="btn btn-secondary float-right save-log">Save</div>
        <div class="btn btn-secondary float-right load-log disabled">Load</div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="timer-input">Mob Session Length in Minutes</label>
            <input class="form-control" id="timer-input" value="10">
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="easy-audio">Volume Control is Useful</label>
            <audio class="form-control" controls volume="0.5" id="easy-audio">
                <source src="assets/audio/easy.m4a" />
            </audio>
        </div>
    </div>
</div>

<div class="row">
    <div class="btn btn-primary col" id="start-timer">Start Timer</div>
    <div class="btn btn-primary col" id="stop-timer">Stop Timer</div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="dropdown mobs-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="mobsMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mobs
            </button>
            <div class="dropdown-menu" aria-labelledby="mobsMenuButton">
            </div>
        </div>
        <div class="form-group">
            <label for="mob-members-input">Add Member Name</label>
            <input class="form-control" id="mob-members-input">
        </div>
    </div>
</div>

<ul id="mob-members-list"></ul>

<table class="table table-dark" id="logs"></table>

<div id="total-seconds">0</div>
<div id="total-seconds-formatted"></div>