<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="mob-name-input">Mob Name</label>
            <input class="form-control" id="mob-name-input">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="table mobs"></div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="mob-members-input">Member Name</label>
            <input class="form-control" id="mob-members-input" disabled>
        </div>
        <div class="table mob-history"></div>
    </div>
</div>