<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="mob-name-input">Add Mob Name</label>
            <input class="form-control" id="mob-name-input">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="list-group mobs"></div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="mob-members-input">Add Member Name</label>
            <input class="form-control" id="mob-members-input" disabled>
        </div>
        <div class="table table-dark mob-history"></div>
    </div>
</div>